/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body > section.introduction.d-flex.align-items-center > div{
        width: 60%;
        margin-left: 150px;
    }
    .inner-section h1{
        margin-bottom: 50px;
    }
    .inner-row p{
        width: 60%;
    }

    body > section:nth-child(7) > div > div{
        width: 650px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}